.blueback{
    background:url(https://source.unsplash.com/ypGtUxrwmNI);
    background-repeat:no-repeat;
    background-size:cover;
    color:blueviolet;
    font-family:'Times New Roman', Times, serif;
    text-align:left;
  }

main {
    border-style: groove;
    margin: 20PX;
    Padding: 20px;
  }

.pinkback{
  background:url(https://source.unsplash.com/qjCHPZbeXCQ);
  background-repeat:no-repeat;
  background-size:cover;
}
